<!-- <header>
  <div
    id="carouselExampleControlsNoTouching"
    class="carousel slide"
    data-bs-touch="false"
    data-bs-interval="false"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        routerLink="/schoolView"
        style="cursor: pointer"
      >
        <div class="container banner-the-school">
          <div class="row banner-row-the-school">
            <div class="banner-div-theschool1">
              <div class="banner-div-text-pera">
                <img src="./assets/image/Group 15816.png" />

                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an
                </p>
              </div>
            </div>
            <div class="banner-div-theschool2">
              <img src="./assets/image/Untitled design (10) 1.png" alt="" />
            </div``>
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        routerLink="/schoolView"
        style="cursor: pointer"
      >
        <div class="container banner-the-school">
          <div class="row banner-row-the-school">
            <div class="banner-div-theschool1">
              <div class="banner-div-text-pera">
                <img src="./assets/image/Group 15816.png" />
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an
                </p>
              </div>
            </div>
            <div class="banner-div-theschool2">
              <img src="./assets/image/Untitled design (10) 1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header> -->
<!-- <div routerLink="/schoolView" style="cursor: pointer">
  <div class="container banner-the-school">
    <div class="row banner-row-the-school">
      <div class="banner-div-theschool1">
        <div class="banner-div-text-pera">
          <img src="./assets/image/Group 15816.png" />

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an
          </p>
        </div>
      </div>
      <div class="banner-div-theschool2">
        <img src="./assets/image/Untitled design (10) 1.png" alt="" />
      </div>
    </div>
  </div>
</div> -->
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let i of allbranch">
      <div>
        <div style="cursor: pointer">
          <div class="container banner-the-school">
            <div class="row banner-row-the-school">
              <div class="banner-div-theschool1">
                <div class="banner-div-text-pera">
                  <!-- <img src="./assets/image/Group 15816.png" /> -->
                  <h1>
                    {{ i.name }}
                  </h1>
                  <p>
                    {{ i.des }}
                  </p>
                </div>
              </div>
              <div class="banner-div-theschool2">
                <!-- <img src="./assets/image/Untitled design (10) 1.png" alt="" /> -->
                <img
                  class="schoolBanerimg"
                  [src]="ds.baseurl + 'uploadImages/branch/' + i.img"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="container-fluid">
  <div class="container jbdfs11">
    <h2>FOLLOW US</h2>
    <div class="hbmx11">
      <div class="react-img11">
        <a href="#">
          <img src="./assets/image/Rectangle 36.png" alt="" />
          <i class="fa-brands fa-facebook-f icon-con11"></i
        ></a>
      </div>
      <div class="react-img11">
        <a href="#">
          <img src="./assets/image/Rectangle 37.png" alt="" />
          <i class="fa-brands fa-instagram icon-con11"></i
        ></a>
      </div>
      <div class="react-img11">
        <a href="">
          <img src="./assets/image/Rectangle 38.png" alt="" />
          <i class="fa-brands fa-twitter icon-con11"></i
        ></a>
      </div>
      <div class="react-img11">
        <a href="#">
          <img src="./assets/image/Rectangle 39.png" alt="" />
          <i class="fa-brands fa-tiktok icon-con11"></i
        ></a>
      </div>
    </div>
  </div>
</div>
