<div class="container-fluid color-color">
  <div class="container p-l">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-md-6 col-sm-6 lorem-text-card">
        <img src="./assets/image/5t5t 1.png" alt="" />
        <div class="ghd">
          <div class="pernvd">
            <span>
              <h2>4</h2>
            </span>
          </div>
          <h2>professional dance instructor</h2>
        </div>
        <p class="aukha">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s,
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 lorem-text-card">
        <img src="./assets/image/uytre 1.png" alt="" />
        <div class="ghd">
          <div class="pernvd1">
            <span>
              <h2>10+</h2>
            </span>
          </div>
          <h2>Years of experince</h2>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s,
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 lorem-text-card">
        <img src="./assets/image/hgfds 1.png" alt="" />
        <div class="ghd1">
          <div class="pernvd1">
            <span>
              <h2>3000</h2>
            </span>
          </div>
          <h2>Happy Student</h2>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s,
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 lorem-text-card">
        <img src="./assets/image/calender.png" alt="" />
        <div class="ghd1">
          <div class="pernvd1">
            <span>
              <h2>4</h2>
            </span>
          </div>
          <h2>Flexible Programs</h2>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s,
        </p>
      </div>
    </div>
  </div>
</div>
