<section class="form-abs-rela">
  <div class="container">
    <div class="row justify-content-between">
      <div class="frame-div-one">
        <img src="./assets/image/Group 16226.png" alt="" />
      </div>
      <div class="frame-div-two">
        <form action="#">
          <h2>APPLY FOR THIS ROLE</h2>

          <input type="text" name="yourname" placeholder="Your name" />
          <input type="text" name="phoneno" placeholder="Phone number" />
          <input type="text" name="interestedin" placeholder="Interested in" />
          <input type="text" name="email" placeholder="Email address" />
          <input
            type="text"
            name="new_file"
            value=""
            size="40"
            class="file_input_replacement"
            placeholder="Upload CV/Resume"
          />
          <input
            type="file"
            name="uploaded_file"
            class="file_input_with_replacement"
          />
          <input
            type="text"
            name="new_file"
            value=""
            size="40"
            class="file_input_replacement"
            placeholder="Upload Cover Letter"
          />
          <input
            type="file"
            name="uploaded_file"
            class="file_input_with_replacement"
          />

          <!-- <input type="file" name="savefile" placeholder="Uploade CV/Resume">
                            <input type="file" name="coverletter" placeholder="Upload Cover Letter"> -->

          <textarea
            name="anyaditionalinfo"
            placeholder="Any additional Info"
          ></textarea>

          <a href="#"><button>Sumbit &rarr;</button></a>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="open-position-sect">
  <div class="container open-position-sect-padding-zero">
    <h2>Open Position</h2>

    <ul class="nav nav-pills mb-3 muskil-class" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active open-position-button-tab-duplicate"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Categories 1
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link open-position-button-tab"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Categories 2
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link open-position-button-tab"
          id="pills-contact-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-contact"
          type="button"
          role="tab"
          aria-controls="pills-contact"
          aria-selected="false"
        >
          Categories 3
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link open-position-button-tab"
          id="pills-frame-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-frame"
          type="button"
          role="tab"
          aria-controls="pills-frame"
          aria-selected="false"
        >
          Categories 4
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        <div class="opiton-tabs-div">
          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 1</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 2</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 3</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <div class="opiton-tabs-div">
          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 4</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 5</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 6</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
      >
        <div class="opiton-tabs-div">
          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 7</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 8</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 9</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="pills-frame"
        role="tabpanel"
        aria-labelledby="pills-frame-tab"
      >
        <div class="opiton-tabs-div">
          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 10</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 11</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />

          <div class="option-tab1">
            <div class="option-tab-content">
              <h2>Option Position 12</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <div class="option-tab-but">
              <button>APPLY Now &rarr;</button>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row frame-div-four-img">
    <div class="frame-div-img">
      <img src="./assets/image/Rectangle 50.png" alt="" />
    </div>
    <div class="frame-div-img">
      <img src="./assets/image/Rectangle 51.png" alt="" />
    </div>

    <div class="frame-div-img">
      <img src="./assets/image/Rectangle 52.png" alt="" />
    </div>

    <div class="frame-div-img">
      <img src="./assets/image/Rectangle 53.png" alt="" />
    </div>
  </div>
</div>
