<header>
  <div w3-include-html="header.html"></div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 group-63">
          <img src="./assets/image/Group 16063.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid rect-49">
  <div class="container rect-49-text">
    <h2>Performing Artist</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <a href="#"><button>Register Now&rarr;</button></a>
  </div>
</div>
<!-- <div class="container-fluid next-back">
  <div class="slider-six1 bindu1">
    <div class="slider-img-1">
      <img src="./assets/image/one (2).png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/two.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/three.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/four.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/five.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/one (2).png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/two.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/three.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/four.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/five.png" alt="" />
    </div>
  </div>
</div> -->

<!-- 
<div class="container-fluid">
  <div class="slider-six2 bindu1">
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2843.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2844.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2845.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2846.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2847.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2848.png" alt="" />
    </div>

    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2843.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2844.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2845.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2846.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2847.png" alt="" />
    </div>
    <div class="slider-img-1">
      <img src="./assets/image/Rectangle 2848.png" alt="" />
    </div>
  </div>
</div> -->
