<div class="container-fluid">
  <div class="container jbdfs">
    <h2>FOLLOW US</h2>
    <div class="hbmx">
      <div class="react-img">
        <a href="#">
          <img src="./assets/image/Rectangle 36.png" alt="" />
          <i class="fa-brands fa-facebook-f icon-con"></i
        ></a>
      </div>
      <div class="react-img">
        <a href="#">
          <img src="./assets/image/Rectangle 37.png" alt="" />
          <i class="fa-brands fa-instagram icon-con"></i
        ></a>
      </div>
      <div class="react-img">
        <a href="">
          <img src="./assets/image/Rectangle 38.png" alt="" />
          <i class="fa-brands fa-twitter icon-con"></i
        ></a>
      </div>
      <div class="react-img">
        <a href="#">
          <img src="./assets/image/Rectangle 39.png" alt="" />
          <i class="fa-brands fa-tiktok icon-con"></i
        ></a>
      </div>
    </div>
  </div>
</div>
