<header>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="top-img1">
            <img src="./assets/image/Group 16061.png" alt="" />
          </div>
        </div>
        <div class="col-6 ">
          <img
            src="./assets/image/Group 16060.png"
            alt=""
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="container top-mossa s">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 top-img-mossa">
        <img src="./assets/image/image-width.png" alt="" style="width: 100%" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mon-we">
        <h2>Maria Kim</h2>
        <h3>Passion for Dance</h3>
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum. <br /><br />
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <a href="#"
          ><button class="regiter-button">Register Now &rarr;</button></a
        >
      </div>
    </div>
  </div>
</div>
<app-home-social></app-home-social>
